<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
    <style>
        body{
            display: flex;
            background-color: rgb(245, 212, 212);
            justify-content: center;
            align-items: center;
            color: dimgray;
        }

        .container{
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 100px;
        }
        form{
            margin-top: 30px;
            text-align: left;
        }
        button {
            border-radius: 5px;
            background-color: rgb(204, 246, 247);
            color: rgb(27, 27, 27);
            margin-top: 20px;
            cursor: pointer;
        }
        
        a{
            text-decoration: none;
            color: dimgray;
            
        }
        
        .nav{
            margin-right: 30px;
            
        }
        h1{
            color: dimgray;
        }
    </style>
</head>
<body>
    <div>
    <!-- NAVBAR -->
    <nav>
        <h1>Beauty Store</h1>
        <hr>
        <a class="nav" href="/">Home</a>
        <a class="nav" href="/user/<%=visitor.id%>/addProduct">Add Product</a>
        <a class="nav" href="/user/<%=visitor.id%>/profile">Profile</a>
        <a class="nav" href="/logout">Log out</a>
    </nav>

    <!-- FORM -->

    <form action="/product/<%=result.id%>/editProduct" method="post">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="<%=result.name%>">
        </div>
        <div>
            <label for="desc">Description</label>
            <input type="text" name="desc" id="desc" value="<%=result.desc%>">
        </div>
        <div>
            <label for="price">Price</label>
            <input type="number" name="price" id="price" value="<%=result.price%>">
        </div>
        <div>
            <label for="imageUrl">Image URL</label>
            <input type="imageUrl" name="imageUrl" id="imageUrl" value="<%=result.imageUrl%>">
        </div>
        <div>
            <label for="CategoryId">Category</label>
            <select name="CategoryId" id="CategoryId">
                <%allCat.forEach(el=>{%>
                    <%if(el.id === result.CategoryId){%>
                        <option value="<%=el.id%>" selected><%=el.name%></option>
                    <%} else {%>
                        <option value="<%=el.id%>"><%=el.name%></option>
                    <%}%>
                    
                <%})%>
            </select>
        </div>
        <div>
            <label for="UserId">Seller</label>
            <select name="UserId" id="">
                <%allSeller.forEach(el=>{%>
                    <%if(el.id === result.UserId){%>
                        <option value="<%= el.id %>" selected><%= el.username %></option>
                    <%} else {%>
                        <option value="<%= el.id %>"><%= el.username %></option>
                    <%}%>
                <%})%>
            </select>
        </div>
        <button type="submit">Submit</button>
    </form>
    </div>
</body>
</html>