<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <style>
        #productName{
            font-size: 2rem;
        }
        img{
            border: 1px solid black;
            width: 150px;
        }
        body{
            display: flex;
            background-color: rgb(245, 212, 212);
            justify-content: center;
            align-items: center;
            color: dimgray;
        }

        .container{
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 100px;
        }
        form{
            text-align: left;
        }
        button {
            border-radius: 5px;
            background-color: rgb(204, 246, 247);
            color: rgb(27, 27, 27);
            margin-top: 20px;
            cursor: pointer;
        }
        
        a{
            text-decoration: none;
            color: dimgray;
            
        }
        
        .nav{
            margin-right: 30px;
            
        }
        h1, h2{
            color: dimgray;
        }
        .box{
            margin-top: 100px;
        }
        .atThis{
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div>
    <!-- NAVBAR -->
    <nav>
        <h1>Beauty Store</h1>
        <hr>
        <a class="nav" href="/">Home</a>
        <a class="nav" href="/user/<%=visitor.id%>/addProduct">Add Product</a>
        <a class="nav atThis" href="/user/<%=visitor.id%>/profile">Profile</a>
        <a class="nav" href="/logout">Log out</a>
    </nav>
    <div class="box">
    <%if(result){%>
        <h2>Profile:</h2>
        <p>Name: <%= result.name %></p>
        <p>Phone: <%= result.phone_number %></p>
        <p>Nik: <%= result.nik %></p>
        <p>Age: <%= result.age %></p>
    <%} else {%>
        <%if(visitor.id == userId && visitor.role === 'seller'){%>
            <p>Welcome seller <%= visitor.username %>, You need to fill your profile before gaining an access to add your product</p>
            <a href="/user/<%= visitor.id %>/formProfile"><button>Fill Your Profile</button></a>
        <%} else if (visitor.id == userId && visitor.role === 'admin'){%>
            
            <p>Welcome Admin <%= visitor.username %>, You haven't fill your profile</p>
            <a href="/user/<%= visitor.id %>/formProfile"><button>Fill Your Profile</button></a>
        <%}else {%>
            <p>this user haven't filled their profile</p>
        <%}%>
        
    <%}%>
    
    </div>
    </div>
</body>
</html>